.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 7px 12px;
  background-color: #000000;
  color: #FFFFFF;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 7px;
  border: 2px solid #FFFFFF;
  display: inline-block;
  margin: 9px;
}
