.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  background-color: #000000;
}

.btn {
  padding: 5px 10px;
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
  font-family: "Mono", sans-serif;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  display: inline-block;
}
